<div class="row">
  <div class="col-xs-12">
    <img src="" alt="logo image" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeItemChosen.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      appDropdown2
      (click)="dropdownOpened = !dropdownOpened"
      class="btn-group"
    >
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="">
          <a href="#">Add Ingridients to Shopping List</a>
        </li>
        <li><a href="#" class="">Edit recipe</a></li>
        <li><a href="#" class="">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipeItemChosen.description }}</div>
  <div class="col-xs-12">
    <img
      src="{{ recipeItemChosen.imagePath }}"
      alt="{{ recipeItemChosen.name }}"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">REcipe details</div>
</div>
